:root {
    --color-primary: #faf3f3;
    --color-secondary: #a7bbc7;
    --color-terciary: #da7f8f;
    /* 4to color #e1e5ea */
  }

.contenedor{
    width: 130px;
    height: 130px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: scale(.2);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    bottom: 24px;
    right:18px
}

.hamburguesa{
    height: 8%;
    background-color: var(--color-primary);
}

.hamburguesa::after, 
.hamburguesa::before,
.hamburguesa{
    position: absolute;
    width: 100%;
    content: '';
    background-color: var(--color-primary);
    transition: 1s;
}

.hamburguesa::after{
    height: 100%;
    top: 40px;
}

.hamburguesa::before{
    height: 100%;
    top: -40px;
}

.cruz{
    transition: 1s;
    transform: rotateZ(45deg);
}

.cruz::before{
    transition: 1s;
    top: 0px;
    transform: rotateZ(90deg);
}

.cruz::after{
    transition: 1s;
    top: 0px;
    transform: rotateZ(0deg);
}

@media (max-width:800px){
    .contenedor{
        display: flex;
    }
}